* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input, button {
    font-family: 'Open Sans', sans-serif;
}

input, button {
    font-size: 16px;
}

.conatiner-header {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #070d59;
    color: white;
}

main {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.input-data {
    width: 48%;
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid #606060;
    border-radius: 10px;
}

.input-data  h2 {
    text-align: center;
    color: #1f3c88;
}

.input-data  form  .input {
    margin: 8px 0;
}

.input-data  form  button {
    background-color: #1f3c88;
    color: white;
    border: 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.input-data  form  button  span {
    font-weight: bold;
}

.input-data  form  .input  input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}

.input-data  form  .input  label {
    color: #1f3c88;
    font-weight: bold;
}

.input-data  form  .input-inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input-data  form  .input-inline  label {
    color: #1f3c88;
    font-weight: bold;
    margin-right: 10px;
}

.search_section {
    width: 48%;
    padding: 16px;
    border: 1px solid #606060;
    border-radius: 10px;
}

.search_section  h2 {
    color: #1f3c88;
}

.search_section  form {
    padding: 16px;
    max-width: 100%;
}

.search_section  form  label {
    color: #1f3c88;
    font-size: 1.5em;
    font-weight: bold;
}

.search_section  form  input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

.book-shelf {
    width: 48%;
    margin: 16px 0 0 0;
    border: 1px solid #606060;
    padding: 16px;
    border-radius: 10px;
}

.book-shelf  h2 {
    color: #1f3c88;
}

.book-shelf  .book-list {
    padding: 16px;
}

.book-shelf  .book-list  .book-item {
    padding: 8px 16px 16px 16px;
    border: 1px solid #606060;
    border-radius: 5px;
    margin: 10px 0;
}

.book-shelf  .book-list  .book-item  h3 {
    padding: 5px 0 !important;
}

.book-shelf  .book-list  .book-item  h3, table tr td:nth-child(even) {
    padding: 0 8px;
}

.book-shelf  .book-list  .book-item  .action  button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
}

.book-shelf  .book-list  .book-item  .action  .green {
    margin: 10px 5px 10px 0;
    background-color: darkgreen;
    color: white;
}

.book-shelf  .book-list  .book-item  .action  .red {
    background-color: darkred;
    color: white;
}


@media screen and (max-width: 962px) {
    main {
        width: 70%;
    }

    .input-data {
        width: 100%;
    }

    .search_section  form {
        padding: 0;
    }

    .search_section {
        width: 100%;
        margin: 20px 0;
    }

    .book-shelf {
        width: 100%;
    }
}

@media screen and (max-width: 486px) {

    main {
        width: 98%;
    }

}